@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');

*{
    box-sizing: border-box;
}

h1,h2,h3,h4{
    font-family: 'Lato', sans-serif;
    text-align: center;
}

body{
    font-family: 'Catamaran', sans-serif;
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/556/708/large_2x/vector-modern-abstract-striped-squares-pattern-repeat-on-white-color-background-and-texture.jpg);
    background-size: contain;
}

option, select{
    text-transform: uppercase;
}

.dimensionar{
    display: grid;
    justify-content: center;
    justify-items: center;
    gap: 0.75em 1em;
    grid-template-columns: max-content max-content;
    justify-self: center;
    text-align: center;
}

.campos-form{
    align-self: flex-start;
}

.campos-form, .bloques{
    display: grid;
    grid-template-columns: repeat(2,max-content);
    gap: 0.25em 1.25em;
    padding: 0.25em;
}

.calcular, .add-tipo{
    padding: 0.5em;
    font-family: 'Catamaran', sans-serif;
    font-size: 14px;
}

.add-tipo{
    grid-column: 2 / 3;
}

.lista_campos{
    display: grid;
    gap: 0.5em;
    grid-template-columns: repeat(3,max-content);
}

.lista_campos > p{
    margin: 0;
}

.dimensionar > *{
    width: 100%;
    justify-content: center;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.dimensionar > *{
    padding: 0.5em;
}

.calcular > input{
    padding: 0.75em;
}

input[type=submit], .add-tipo, input[type="number"], select{
    margin: 0.25em;
    margin-top: 0.5em;
    border: none;
    box-shadow: 0 0 0.25em 0.25em #d7d7d7;
    border-radius: 0.5em;
}

input[type="number"], select{
    padding: 0.25em 0.5em;
}

.cabecera{
    display: flex;
    align-items: center;
}

@media screen and (max-width: 650px) {
    .dimensionar{
        flex-wrap: wrap;
        display: flex;
    }
}